*{
    font-family: Arial;
    cursor:default;
    color: #3D405B
}
#c1{
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(90%);
    width: 100%;
    height: 200px;
    background-position: center;
    text-align: center;
    align-content: center;
    
    position: relative;
    overflow: hidden;
    background-color:#ffffff;
}
#c1::before{
  background-image: url('..\\assets\\images\\jack-cohen-8z4OmNwEYN4-unsplash.jpg');
  background-size: cover;
  content: "";
  position: absolute;
  background-position: left;
  inset: 0;
 
   
}

#title h1{
    isolation: isolate;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    color: #3D405B;
    font-family: 'Aclonica';
    letter-spacing: 3px;
    font-size: 50px;
}
#logo1{
  background-image: url('..\\assets\\images\\logo.png');
  background-size: cover;
  width: 60px;
  height: 85px;
  margin-bottom: 10px;
   align-self: center;

}
#logo2{
  background-image: url('..\\assets\\images\\logo_name.png');
  background-size: cover;
  width: 200px;
  height: 40px;
  align-self: center;
  
}
#logos{
    width: 100%;
    height:85px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}
#c4{
    background: linear-gradient(to bottom,transparent,#EED2CC);
    text-align: center;
}
h2{
    isolation: isolate;
    text-shadow: 1px 1px 1px #EED2CC;
    text-align: center;
    align-content: center;
    color:#3D405B;
    font-family: 'Arial';
    grid-row: 1;
    font-size: 20px;
    margin: 0%;
    margin-left: 130px;
}
main{
  justify-content: center;
  display: grid;
  grid-template-columns: 91% 9%;
  grid-template-rows: 33% 33% 33%;
  gap: 0.5px;
}

aside{
  border: solid 2.5px #EED2CC;
  border-radius: 8px;
  height: 230px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  justify-self:  baseline;
  margin-top: 90px;
}
#blog1{
  margin-bottom: 50px;
}
#blog2{
  margin-bottom: 50px;
}
#blog3{
  margin-bottom: 50px;
}
#blog1 h3 a:hover{
  color:#6C9A8B;
  cursor: pointer;
}
#blog2 h3 a:hover{
  color:#6C9A8B;
  cursor: pointer;
}
#blog3 h3 a:hover{
  color:#6C9A8B;
  cursor: pointer;
}

#blog1 #imageN1:hover{
  background-image: url('..\\assets\\images\\thomas-lipke-oIuDXlOJSiE-unsplash_norway2.jpg');
}
#blog2 #imageC1:hover{
  background-image: url('..\\assets\\images\\matt-hanns-schroeter-7s65Un-AMP4-unsplash_canada4.jpg');
}
#blog3 #imageP1:hover{
  background-image: url('..\\assets\\images\\willian-justen-de-vasconcellos-kNbq1SHfLd8-unsplash_peru3.jpg');
}
#m1{
  display: grid;
  grid-template-columns: 91% 9%;
  grid-template-rows: auto;
  
}
#m3{
  display: grid;
  grid-template-columns: 91% 9%;
  grid-template-rows: auto;
  
}
#register-section{
  justify-self: center;
  text-align: center;
  align-content: center;
}
#register-section h3{
  margin-left: 141px;
  margin-bottom: 0px;
  margin-top: 0px;
}
button a{
  font-family: 'Aclonica';
  color:#3D405B;
}
button a:hover{
   color:#6C9A8B;
}

.label-input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
form{
  margin-top: 50px;
  display: grid;
  justify-content: center;
  justify-self: center;
}
label{
  text-align: center;
  align-content: center;
  color:#A1683A;
  font-family: 'Arial';
  grid-row: 1;
  font-size: 20px;
  margin: 0%;
  margin-left: 130px;
  margin-right: 22px;
}
input{
  border: solid 2px #EED2CC;
  border-radius: 8px;
  height: 30px;
  width: 250px;
  padding-left: 10px;
}
input:focus{
  outline: none;
  border: solid 2px #E8998D;
}

#containernav{
  display: inline-grid;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
#signin{
  align-self: center;
  background-color: #8da59dc1;
  color:#3D405B;
  border: solid 2px #A1683A;
  font-family: 'Aclonica';
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  grid-column: 1;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  margin-left: 130px;
  justify-self: center;
}
#signin:hover{
  background-color: #EED2CC;
  color:#6C9A8B;
  border: solid 2px #3D405B;
 
}
select{
  border: solid 2px #EED2CC;
  border-radius: 8px;
  height: 30px;
  width: 265px;;
  padding-left: 10px;
  background-color: #ffffff;
}
input[type="radio"]{
 border: none;
 height: 20px;
 width: 20px;
 accent-color: #6C9A8B;
 
}
input[type="radio"]{
  color: #A1683A;
}
option:hover {
  background-color: #EED2CC;
}

[required]:user-invalid{
    border-color: #BB285C;
}

#reg{
 justify-self: center;
}
#verg{
 justify-self: center;
 align-self: center;
}
#login-section{
 margin-bottom: 50px;
 text-align: center;
}

.nav1{
  margin-top: 8px;
  color:#6C9A8B;
  margin-left: 4px;
  font-weight: bold;
}
.nav2{
  margin-top: 2px;
  color: #A1683A;
  margin-left: 15px;
}
.nav4{
  margin-top: 25px;
  color:#6C9A8B;
  margin-left: 4px;
  font-weight: bold;
}

.nav3{
  margin-top: 4px;
  color:#6C9A8B;
  margin-left: 4px;
  font-weight: bold;
}
.nav1:hover{
  color:#4d6f64;
}
.nav3:hover{
  color:#4d6f64;
}
.nav2:hover{
  color:#6e4728;
}
button{
  align-self: center;
  background-color: #8da59dc1;
  color:#3D405B;
  border: solid 2px #A1683A;
  font-family: 'Aclonica';
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  grid-column: 1;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  margin-left: 130px;
  justify-self: center;
  
}
button:hover{
  background-color: #EED2CC;
  color:#6C9A8B;
  border: solid 2px #3D405B;

  
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.Blog-grid {

    
}

.Blog {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    
}
.asideblog{
  grid-column: 2;
  grid-row: 1;
  margin-top: 60px;

}
#imageN1{
  
  background-image: url('..\\assets\\images\\michael-fousert-lE5-z4nTCTQ-unsplash_norway1.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
}
#imageN2{
  
  background-image: url('..\\assets\\images\\thomas-lipke-oIuDXlOJSiE-unsplash_norway2.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
}
#imageN3{
  
  background-image: url('..\\assets\\images\\stock-birken-sM2Vehz8bAw-unsplash_norway4.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
}
#imageN4{
  
  background-image: url('..\\assets\\images\\abby-rurenko-QoBilxz1dNc-unsplash_norway3.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
}
#imageC1{
  
  background-image: url('..\\assets\\images\\sandro-schuh-6wVqCeK030Y-unsplash_canada2.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
  background-position: center;
  
}
#imageC2{
  
  background-image: url('..\\assets\\images\\pranav-prashar-ubgiTsZvG-k-unsplash_canada3.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
  background-position: bottom;
}
#imageC3{
  
  background-image: url('..\\assets\\images\\matt-hanns-schroeter-7s65Un-AMP4-unsplash_canada4.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
  background-position: bottom;
}
#imageC4{
  
  background-image: url('..\\assets\\images\\sandro-schuh-6wVqCeK030Y-unsplash_canada2.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
  background-position: top;
}
#imageP1{
  
  background-image: url('..\\assets\\images\\eduardo-garcia-cRHwRTXodcw-unsplash_peru4.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
  background-position: center;
  
}
#imageP2{
  
  background-image: url('..\\assets\\images\\junior-moran-zdk65luJOTI-unsplash_peru1.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
  background-position: bottom;
}
#imageP3{
  
  background-image: url('..\\assets\\images\\willian-justen-de-vasconcellos-kNbq1SHfLd8-unsplash_peru3.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 2;
  margin-left: -55px;
  background-position: bottom;
}
#imageP4{
  
  background-image: url('..\\assets\\images\\peter-livesey-WEME5LOrLpE-unsplash_peru2.jpg');
  background-size: cover;
  width: 400px;
  height: 200px;
  align-self: center;
  border-radius: 8px;
  grid-column: 4;
  background-position: top;
}

.Pmid{
  
  justify-content: center;
  align-content: center;
  width: 962px;
  text-align: left;
  margin-left: 199px;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  grid-column: 2 span 4;
}

.blog-section{
  margin-top: 45px;
}
#text{
  margin-left:-155px;
  justify-content: left;
  width: 500px;
  height: 200px;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  grid-column: 4;
}
#text2{
  margin-left:-57px;
  justify-content: left;
  width: 500px;
  height: 200px;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  grid-column: 2;
}
#text p{
  height: 138px;
  width: 556px
}
#text2 p{
  height: 138px;
  width: 556px
}
#text h3{
  margin-bottom: 12px;
  margin-top: 8px;
}


.dropdown {
  text-align: center;
  position: relative;
}

.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  background-color: #ffffff;
  min-width: 130px;
  box-shadow: none;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: inline-grid;
  position: relative;
}

/*
#6C9A8B
#E8998D
#EED2CC
#3D405B
#A1683A
*/